<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <context:component-scan base-package="com.netease" />
    <context:annotation-config/>

    <mvc:default-servlet-handler/>
    <mvc:annotation-driven/>
    <mvc:resources location="/css/**" mapping="/css/"/>
    <mvc:resources location="/html/**" mapping="/html/"/>
    <mvc:resources location="/image/**" mapping="/image/"/>
    <mvc:resources location="/js/**" mapping="/js/"/>
    <mvc:resources location="/template/include/**" mapping="/include/"/>
    <!--<mvc:resources location="file:/mnt/file/" mapping="/file/**"/>  -->

    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/template" />
        <property name="freemarkerSettings">
            <props>
                <!-- 设置页面中文乱码问题 -->
                <prop key="default_encoding">UTF-8</prop><!--模板的编码格式 -->
                <prop key="locale">UTF-8</prop><!-- 本地化设置 -->
                <prop key="url_escaping_charset">UTF-8</prop>

                <prop key="template_update_delay">1</prop>
                <!--  <prop key="output_encoding">UTF-8</prop> --><!--  输出的字符集  -->
                <prop key="locale">zh_CN</prop>
                <prop key="number_format">0.##</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
            </props>
        </property>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="maxUploadSizePerFile" value="1000000" ></property>
    </bean>


    <bean  class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="viewResolvers">
            <list>
                <bean id="viewResolver"
                      class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
                    <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
                    <property name="cache" value="true" />
                    <property name="prefix" value="" />
                    <property name="suffix" value=".ftl" />
                    <property name="contentType" value="text/html; charset=utf-8" />
                    <property name="exposeSpringMacroHelpers" value="true"/>
                    <property name="exposeRequestAttributes" value="true"/>
                    <property name="exposeSessionAttributes" value="true"/>
                    <property name="requestContextAttribute" value="request"/>
                </bean>
            </list>
        </property>
        <property name="defaultViews">
            <list>
                <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />
            </list>
        </property>
    </bean>
    <!--<bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        &lt;!&ndash; 配置请求类型 &ndash;&gt;
        <property name="mediaTypes">
            <value>
                html=text/html
                json=application/json
            </value>
        </property>
        <property name="defaultContentType" value="text/html"/>
    </bean>-->




</beans>